<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yapp.no_11.yapp_1team">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.yapp.no_11.yapp_1team.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yapp.no_11.yapp_1team.views.IntroActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yapp.no_11.yapp_1team.views.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/SplashTheme" />

        <activity
            android:name="com.yapp.no_11.yapp_1team.views.LocationSetupActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MapBar" />

        <activity
            android:name="com.yapp.no_11.yapp_1team.views.MapActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MapBar" />

        <activity
            android:name="com.yapp.no_11.yapp_1team.views.SettingActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MapBar" />

        <activity
            android:name="com.yapp.no_11.yapp_1team.views.AcknowledgementActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MapBar" />

        <activity
            android:name="com.yapp.no_11.yapp_1team.views.LicenseActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MapBar" />

        <activity
            android:name="com.yapp.no_11.yapp_1team.views.FilterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MapBar" />

        <activity
            android:name=".views.SelectMovieInfoActivityRx"
            android:screenOrientation="landscape"
            android:theme="@style/MapBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_key" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/daum_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0b45b13ba1a0fda239106af4bebc4ba839917655" />
    </application>

</manifest>