<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.park.yapp_1team">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.LocationSetupActivity"
            android:theme="@style/MapBar" />
        <activity
            android:name=".views.MapActivity"
            android:theme="@style/MapBar" />

        <activity android:name=".views.IntroActivity"
            android:theme="@style/AppFullScreenTheme"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8jE0voZOLRMSy26LpYYrf2QEtYQUuZ4s" />

        <activity
            android:name=".views.SelectMovieInfoActivity"
            android:theme="@style/MapBar" />
    </application>

</manifest>